[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/skeen/Desktop/pixd]
row=3
col=1

[/home/skeen/Desktop/mysite]
row=1
col=1

[/home/skeen/Desktop/README.md]
row=2
col=1

[/home/skeen/Desktop/chrome-lkbhppfbabandkdmgjmifahoabeodiep-Profile_1.desktop]
row=2
col=0

[/home/skeen/Desktop/PiPCI]
row=1
col=0

[/home/skeen/Desktop/jenkins_template]
row=6
col=1

[/home/skeen/Desktop/django-celery-experiment]
row=4
col=1

[/home/skeen/Desktop/django-template-i18n-lint]
row=5
col=1

[/home/skeen/Desktop/boligadmin]
row=0
col=1

[alfresco_emil]
row=5
col=0

[05dc64ca-1b30-4740-952e-5ebe64642d6a]
row=0
col=0

[alfresco_sites]
row=4
col=0

[1AC4F6EEC4F6CB51]
row=3
col=0

[Trash]
row=6
col=0

[/]
row=7
col=0

[/home/skeen]
row=8
col=0

