[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/skeen/Desktop/README.md]
row=2
col=1

[/home/skeen/Desktop/django-celery-experiment]
row=7
col=1

[/home/skeen/Desktop/boligadmin]
row=0
col=1

[/home/skeen/Desktop/mysite]
row=1
col=1

[alfresco_emil]
row=5
col=0

[alfresco_sites]
row=4
col=0

[8E76103076101C11]
row=2
col=0

[3ACE147ACE14309D]
row=0
col=0

[1AC4F6EEC4F6CB51]
row=3
col=0

[F4FC-3CFB]
row=1
col=0

[Trash]
row=6
col=0

[/]
row=7
col=0

[/home/skeen]
row=8
col=0

